@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Tiro+Bangla:ital@0;1&display=swap');
@import "tailwindcss";





:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* globals.css */
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/CustomFont.woff2') format('woff2'),
       url('/fonts/CustomFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family: "Tiro Bangla", serif;
 font:400
 
}
